body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.App {
    text-align: center;
    padding-top: 150px; /* Increased to accommodate the header bar */
}

.header-bar {
    background-color: #7ae600;
    color: white;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.header-bar h1 {
    margin: 0; /* Remove default margin */
}